<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165193758407-8jdn9d3qrf6qpftaes15f47orm7v83h8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165193758407-8jdn9d3qrf6qpftaes15f47orm7v83h8</string>
	<key>API_KEY</key>
	<string>AIzaSyCcv2EtEbRSc7hdAguWA7yjw0K6D88M3a0</string>
	<key>GCM_SENDER_ID</key>
	<string>165193758407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authApp</string>
	<key>PROJECT_ID</key>
	<string>auth-app-c399c</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-app-c399c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165193758407:ios:f73e0f601a84466de670e2</string>
</dict>
</plist>